<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>График</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/@mdi/font@6.x/css/materialdesignicons.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
  </head>
  <body>
    <div id="line-chart"></div>
    <div id="slider">
      <v-app>
        <v-main>
          <v-slider max="100" min="0" v-model="perplexity" thumb-label>
          </v-slider>
          <a :href="'/{{run_id}}/'+perplexity" class="text-decoration-none"><v-btn>Обновить</v-btn></a>
        </v-main>
      </v-app>
    </div>
  </body>
  <script type="text/javascript" src="https://cdn.plot.ly/plotly-latest.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>
  <script>
    new Vue({
      delimiters: ['<%', '%>'],
      el: '#slider',
      vuetify: new Vuetify(),
      data:{
        perplexity:{{perplexity}}
      }
    })

    var lineDiv = document.getElementById('line-chart');
    var traceA = {
      x: {{embeddings.short[0].tolist()}},
      y: {{embeddings.short[1].tolist()}},
      text:[{% for t in short%}"{{t}}",{% endfor %}],
      name: 'Короткая стори',
      mode: 'markers',
      type: 'scatter'
    };
    var traceB = {
      x: {{embeddings.long[0].tolist()}},
      y: {{embeddings.long[1].tolist()}},
      text:[{% for t in long%}"{{t}}",{% endfor %}],
      name: 'Длинная стори',
      mode: 'markers',
      type: 'scatter'
    };

    var data = [traceA,traceB];

    var layout = {
      title:'Примерное расположение сторей',
      height: 700,
      font: {
        family: 'Lato',
        size: 16,
        color: 'rgb(100,150,200)'
      },
      plot_bgcolor: 'rgba(200,255,0,0.1)',
      margin: {
        pad: 10
      },
    };
    Plotly.plot( lineDiv, data, layout );

  </script>
</html>
